<!-- recommend_success.html -->

{% extends "inherit.html" %}
{% load static %}

{% block title %}Recommendation Success{% endblock title %}

{% block body %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Recommendation Success</div>
        <div class="card-body">
          <p>Your recommendation has been submitted successfully!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
